{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

    <style>
      body {
        font-family: 'Lumanosimo', cursive;
      }
      </style> 
  </head>
  <body>
    {% include 'navigation.html' %}
    
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<div class="container">


<br>
<div class="bread shadow p-3 mb-5 bg-body-tertiary rounded">
  <nav aria-label="breadcrumb ">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Home</li>
      <li class="breadcrumb-item active">Product</li>
      <!-- <li class="breadcrumb-item active" aria-current="page">Data</li> -->
    </ol>
  </nav>
  <h1 class="text-center">Product</h1>
  <br>
</div>
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{ message }}.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}

  
  <form method="POST" class="row g-3 shadow p-3 mb-5 bg-body-tertiary rounded">
    {% csrf_token %}
    <div class="col-md-4">
      <label for="exampleInputPassword1" class="form-label">Product Name:</label>
      <input type="text" class="form-control" id="exampleInputPassword1" name="pname" required>
    </div>
    <div class="col-md-4 py-2">
      <div class="form-group">
        <label for="exampleSelect">Category</label><br>
        <select class="form-control" id="exampleSelect" name="cat" required>
            <option>HalfShorts</option>
            <option>Tshirt</option>
            <option>SweatShirts</option>
            <optgroup label="Joggers">
              <option value="Bagg-Joggers">Bagg-Joggers</option>
              <option value="Slimfit-Joggers">Slimfit-Joggers</option>
            </optgroup>
            <optgroup label="Pant">
              <option value="Cargo-pants">Cargo-pants</option>
              <option value="Denim-Pant">Denim-Pant</option>
              <option value=Baggydenim-Pants">BaggyDenim-Pants</option>
              <option value="Formal-Pant">Formal-Pant</option>
            </optgroup>
            <option>Hoddies</option>
            <optgroup label="Jacket">
              <option value="Coduroy-Jacket">Coduroy-Jacket</option>
              <option value="Printed-Jacket">Printed-Jacket</option>
              <option value=Normal-Jacket">Normal-Jacket</option>
            </optgroup>
            <option>HalJacket</option>
            <option>Pullover</option>
            <option>JeansJacket</option>
            <optgroup label="Half-shirt">
              <option value="Printed-Pant">Printed-Pant</option>
              <option value="Plain-Pant">Plain-Pant</option>
            </optgroup>
            <optgroup label="Shirt">
              <option value="Coduroy-Shirt">Coduroy-Shirt</option>
              <option value="Printed-Shirt">Printed-Shirt</option>
              <option value="Flannel-Shirt">Flannel-Shirt</option>
            </optgroup>
            <option>TankTops</option>
            <option>Slippers</option>
            <option>Socks</option>
        </select>
    </div>
    </div>
    <div class="col-md-4">
      <label for="exampleInputPassword1" class="form-label">Sub-Catogory</label>
      <input type="text" class="form-control" id="exampleInputPassword1" name="subcat" required>
    </div>
    <div class="col-md-4">
      <label for="exampleInputPassword1" class="form-label">ProductCode</label>
      <input type="text" class="form-control" id="exampleInputPassword1" name="pcode" required>
    </div>
    <div class="col-md-3">
      <label for="exampleInputPassword1" class="form-label">Description</label>
      <input type="text" class="form-control" id="exampleInputPassword1" name="desc" required>
    </div>
 
   
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>
</div>
 
    

  </body>
</html>