{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>POS</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="b-example-divider"></div>

    {% include 'navigation.html' %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Staff</li>
    </ol>
  </nav>

  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{ message }}.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}


  <h1 class="text-center pt-5">Staff</h1>
  {% if inc %}
  <h1 class="text-center pt-5">{{ inc.id }}</h1>
  <form method="POST" action="{% url 'edit_staff' inc.id %}" class="row g-3 shadow p-3 mb-5 bg-body-tertiary rounded">
    {% csrf_token %}
    <div class="col-md-4">
      <label for="exampleInputPassword1" class="form-label">Staff Name:</label>
      <input type="text" class="form-control" id="exampleInputPassword1" name="staffname" value="{{ inc.staffname }}">
    </div>
    <div class="col-md-4">
      <label for="exampleInputPassword1" class="form-label">Address</label>
      <input type="text" class="form-control" id="exampleInputPassword1" name="add" value="{{ inc.address }}">
    </div>
    <div class="col-md-4">
      <label for="exampleInputPassword1" class="form-label">Time</label>
      <input type="time" class="form-control" id="exampleInputPassword1" name="time" value="{{ inc.time }}">
    </div>
    <div class="col-md-4">
      <label for="exampleInputPassword1" class="form-label">Phone</label>
      <input type="number" class="form-control" id="exampleInputPassword1" name="phone" value="{{ inc.phone }}">
    </div>
    <div class="col-md-4">
      <label for="exampleInputPassword1" class="form-label">Salary</label>
      <input type="number" class="form-control" id="exampleInputPassword1" name="salary" value="{{ inc.salary }}">
    </div>
 
   
    <button type="submit" class="btn btn-primary" name="submit">Submit</button>
  </form>
  {% endif %}
</div>
  
 
</main>

  </body>
</html>