{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RajdhaniCollection</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <style>
      body {
        font-family: 'Lumanosimo', cursive;
      }
      </style>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
</head>
<body>

    {% include 'navigation.html' %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Inventory</li>
    </ol>
  </nav>
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{ message }}.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
 
  <h1 class="text-center pt-5">Inventory</h1>
  {% if inc %}
  <h1 class="text-center pt-5">{{ inc.id }}</h1>
  <form method="POST" action="{% url 'edit_inventory' inc.id %}" class="row g-3 shadow p-3 mb-5 bg-body-tertiary rounded">
    {% csrf_token %}
    <div class="col-md-4">
      <label for="exampleInputPassword1" class="form-label">Inventory Name:</label>
      <input type="text" class="form-control" id="exampleInputPassword1" name="invname" value="{{ inc.inventoryname }}">
    </div>
    <div class="col-md-4">
      <label for="exampleInputPassword1" class="form-label">Category</label>
      <input type="text" class="form-control" id="exampleInputPassword1" name="cat" value="{{ inc.category }}">
    </div>
    <div class="col-md-4">
      <label for="exampleInputPassword1" class="form-label">Sub-Category</label>
      <input type="text" class="form-control" id="exampleInputPassword1" name="subcat" value="{{ inc.subcategory }}">
    </div>
    <div class="col-md-4">
      <label for="exampleInputPassword1" class="form-label">Quantity</label>
      <input type="number" class="form-control" id="exampleInputPassword1" name="quantity" value="{{ inc.quantity }}">
    </div>
    <div class="col-md-4">
      <label for="exampleInputPassword1" class="form-label">Description</label>
      <input type="text" class="form-control" id="exampleInputPassword1" name="desc" value="{{ inc.desc }}">
    </div>
    <div class="col-md-4">
      <label for="exampleInputPassword1" class="form-label">Cost-Price</label>
      <input type="number" class="form-control" id="exampleInputPassword1" name="cp" value="{{ inc.costprice }}">
    </div>
    <div class="col-md-4">
      <label for="exampleInputPassword1" class="form-label">Selling-Price</label>
      <input type="number" class="form-control" id="exampleInputPassword1" name="sp" value="{{ inc.sellingprice }}">
    </div>
 
   
    <button type="submit" class="btn btn-primary" name="submit">Submit</button>
  </form>
  {% endif %}
</div>
  </main>
 
    

  </body>
</html>